<template>
  <!-- html goes here -->
  <div>
    <h1 class="anomalyHeading">Table: Anomaly</h1>
    <b-container class="anomalyContainer">
      <!-- <b-table class="anomalyTable" striped hover :items="anomalies" :fields="fields"></b-table> -->
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th v-for="column in columns"> <!-- I want to supress this. Help-->
              {{ column }}
            </th>
          </tr>
        </thead>
        <tbody>
            <template v-for="interval in Intervals">
              <tr @click="expand(interval.ID)">
                <td>{{ interval.ID }}</td>
                <td>{{ interval.Timestamp }}</td>
              </tr>
              <tr v-if="interval.ID in expanded">
                <td :colspan="columns.length">
                  <b-table class="anomalyTable" striped hover :items="accordianTable(interval.ID)" :fields="fields"></b-table>
                </td>
              </tr>
            </template>
        </tbody>
      </table>
    </b-container>
    <PieChart v-bind:pieLabels="anomalylabels" v-bind:pieData="anomalyData" v-if="loading"></PieChart>
    <LineChart v-bind:LineLabels="anomalylabels" v-bind:LineData="anomalyData" v-if="loading"></LineChart>
  </div>
</template>

<script>

import Vue from 'vue'
import Vuex from 'vuex';
import PieChart from './Pie.vue'
import LineChart from './Line.vue'

Vue.use(Vuex)

export default {
  name: 'CassandraAnomaly',

  components: {
    PieChart,
    LineChart
  },


  /**
   * the commented stuff are things that do exist in an anomaly, but havent requested for it. 
   * Can delete if you feel it unnecessary. Mapping is done automatically, so all you need to do is 
   * change the request!
   * 
   */

  data () {
    return {
      //Table headings 
      fields: {
        anomaly_id: {
          label: 'ID',
          sortable: true
        },
        // anomaly_date: {
        //   label: 'Date',
        //   sortable: true
        // },
        anomaly_description: {
          label: 'Description',
          sortable: true
        },
        // anomaly_time: {
        //   label: 'Time',
        //   sortable: true
        // },
        anomaly_timestamp: {
          label: 'Timestamp',
          sortable: true
        },
        // count: {
        //   label: 'Count',
        //   sortable: true
        // },
        // event_id: {
        //   label: 'Event ID',
        //   sortable: true
        // },
        event_type: {
          label: 'Event Type',
          sortable: true
        }
      },

      newFields: ['ID', 'Timestamp'],
      newItems: this.tableData,
      anomalies: [],
      anomalyKP_Description: {},
      anomalylabels: [],
      anomalyData: [],
      loading: true,
      Intervals: [],
      columns: ['ID', 'Timestamp'],
      expanded: {},
      anomaliesKP: {},
      anomaliesCounter: 0,
      timer: ''

    }
  },

  created() {
    this.getAnomalies();
    this.timer = setInterval(this.onRefresh, 100000);
  },

  methods: {

    query() {
      let query = '{"query":"{anomalies{anomaly_id,anomaly_timestamp,anomaly_description,event_type}}"}';
      return Vue.http.post('http://localhost:8080/graphql', query).then(response => {
        let counter = this.anomaliesCounter + 1;
        this.anomaliesCounter = counter;
        Object.assign(this.anomaliesKP, { [counter]: response.body.data.anomalies});
        this.Intervals.push({'ID':counter, 'Timestamp':[new Date().toString]});
        this.getKeypairs();
        this.getData();
      })
    },
    onRefresh() {
      this.query();
    },

    /**
     * Runs initially.
     * 
     */
    getAnomalies() {
      this.loading = false; //allow page to load fully (acts as a wait)
      let query = '{"query":"{anomalies{anomaly_id,anomaly_timestamp,anomaly_description,event_type}}"}';
      return Vue.http.post('http://localhost:8080/graphql', query).then(response => {
        this.anomalies = response.body.data.anomalies; //Store the new anomalies
        let counter = this.anomaliesCounter + 1; // need to create a counter of the index of the request
        this.anomaliesCounter = counter; //assign the new value - .assign() doesnt like global variables
        Object.assign(this.anomaliesKP, { [counter]: response.body.data.anomalies});
        this.Intervals.push({'ID':counter, 'Timestamp':[new Date().toString]}); // push new data to the interval array
        console.log(this.anomaliesKP);
        this.getKeypairs(); // store a count of the type error and the number of occurences
        this.getLabels(); // store the labels in this component of each type
        this.getData(); // store the data in this component of each type
        this.loading = true;
      })      
    },
    getLabels() {
      this.anomalylabels = Object.keys(this.anomalyKP_Description);
    },
    getData() {
      this.anomalyData = Object.values(this.anomalyKP_Description);
    },

    //TODO - push new keypair data. ####################
    getKeypairs() {
      // for anomaly Description
      let KP = {};
      this.anomalies.forEach(anomaly => {
        KP[anomaly.anomaly_description] = 1 + (KP[anomaly.anomaly_description] || 0)
      })
      this.anomalyKP_Description = KP;
    },
    expand(ID) {
      if (ID in this.expanded) {
        this.$delete(this.expanded, ID)
      } else {
        this.$set(this.expanded, ID, true)
      }
    },
    accordianTable(ID) {
      console.log(ID);
      return this.anomaliesKP[ID];
    }
  }
}
</script>

<style scoped>
  .anomalyContainer {
    max-width: 95%;
  }
  .anomalyTable {
    width: 100%;
  }
  .anomalyHeading {
    padding-left: 3%;
    text-align: left;
  }
</style>