<template>
    <div id="app">
      <Navbar></Navbar>
      <router-view></router-view>
    </div>
</template>

<script>

import Navbar from './Navbar'

export default {
  name: 'app', 
  components: {
    Navbar
  }
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {  
  background-color: rgb(255, 248, 228) !important;
}
</style>
