<template>
  <b-navbar toggleable="md" type="dark" variant="dark">
  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
  <b-navbar-brand id="brandText" href="#">Monkey Mix</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <b-nav-item id="anomalyNavBtn" router-link :to="'Cassandra/Anomaly'">Anomaly Viewer</b-nav-item>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
</template>
